body{
	background-color: #68189B;
	color: #F0E3E3;
	line-height: 32px;
}

a{
	color: white;
}

footer{
	color: white;
}

footer{
	border: 1px solid #eee;
}


header{
	border: 1px solid #eee;
}